body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.toolbar {
  margin-bottom: 20px;
}

.blue-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.green-button {
  background-color: MediumSeaGreen;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.gray-button {
  background-color: Gray;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.orange-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #222222;
  min-height: 100vh; 
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  min-height: 100vh; 
}

.toolbar {
  margin-bottom: 20px;
}

.blue-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.green-button {
  background-color: MediumSeaGreen;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.gray-button {
  background-color: Gray;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.orange-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

.room-thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.sidebar {
  background-color: #222222; /* Updated sidebar color */
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
}

.left-sidebar {
  left: 0;
}

.right-sidebar {
  right: 0;
}

select {
  font-size: 16px;
  height: 40px;
  width: 300px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}