<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">
    <style>
        .green-button {
            background-color: green;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Adventure!</h1>
        <b>Interactive story engine by ViciousSquid</b><br>
        <br>Beta 0.4<br>------------<br>
        <a href="https://vicioussquid.pythonanywhere.com/">https://vicioussquid.pythonanywhere.com/</a><br><br>
        <a href="https://github.com/ViciousSquid/Adventure">https://github.com/ViciousSquid/Adventure</a><br><br>

        <div class="image-container">
            <img src="{{ url_for('static', filename='images/book.png') }}" alt="">
        </div>
        <br><br>

        <h2>Select a Story:</h2>
        <form action="{{ url_for('new_story') }}" method="post">
            <select name="story_name">
    {% set sorted_adventures = adventures|sort(attribute='name'|lower) %}
    {% for story_name in sorted_adventures %}
    <option value="{{ story_name }}">{{ story_name.replace('_', ' ')|capitalize }}</option>
    {% endfor %}
</select>
            <button type="submit" class="apple-green-button">Start New Story</button>
        </form><br><br>
        Create your own story or edit an existing story using the Editor:
        <br><br>
        <a href="{{ url_for('static', filename='editor/index.html') }}" class="orange-button">Story Editor</a>
    </div>
</body>
</html>