/* General Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

/* Form Styles */
form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="color"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  height: 150px; /* Increase the height of textarea elements */
}

/* Button Styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

button.primary {
  background-color: #4caf50;
  color: white;
}

button.primary:hover {
  background-color: #45a049;
}

button.secondary {
  background-color: #2196f3;
  color: white;
}

button.secondary:hover {
  background-color: #0b7dda;
}

button.danger {
  background-color: #f44336;
  color: white;
}

button.danger:hover {
  background-color: #da190b;
}

/* Room Container Styles */
.room-container {
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 10px;
}

.exits-container {
  margin-top: 10px;
}

.exit-container,
.skill-check-container {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}

/* Light/Dark Mode */
body.light-mode {
  background-color: #ffffff;
  color: #333333;
}

body.light-mode h1,
body.light-mode h2,
body.light-mode label {
  color: #333333;
}

body.light-mode .room-container {
  background-color: #f0f0f0;
}

body.light-mode .room-container:nth-child(odd) {
  background-color: #ffffff;
}

/* Dyslexia Font */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('fonts/OpenDyslexic3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('fonts/OpenDyslexic3-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body.dyslexic-font {
  font-family: 'OpenDyslexic', Arial, sans-serif;
}

body.dyslexic-font input,
body.dyslexic-font textarea,
body.dyslexic-font button {
  font-family: 'OpenDyslexic', Arial, sans-serif;
}